<!DOCTYPE html>
<html>
  <head>
    <title>Dice Roller</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav style="text-align: center; margin-bottom: 20px;">
      <a href="/">Home</a> |
      <a href="/dice/2/6">2d6</a> |
      <a href="/dice/2/10">2d10</a> |
      <a href="/dice/1/20">1d20</a> |
      <a href="/dice/5/4">5d4</a>
    </nav>

    <%= yield %>
  </body>
</html>

